h1{
    color: blue;
    font-style:italic ;
    margin: 500px;
}
p{ color: crimson;
    font-style: oblique;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    
    

}